# see options: http://docs.ansible.com/ansible/intro_configuration.html

[defaults]
inventory = hosts
roles_path = ./roles:./roles-lib
nocows = 1
host_key_checking = false
cow_selection = random
retry_files_enabled = false
transport = ssh
deprecation_warnings = false
forks = 10
timeout = 30
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./.ansible/facts_cache

stdout_callback = skippy
callback_whitelist = profile_tasks

[ssh_connection]
# control_path = "%(directory)s/%%h-%%r"
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ConnectionAttempts=100 -o UserKnownHostsFile=/dev/null
